{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
REGLAS DE LA ACTIVIDAD
{% endblock %}


{% block content %}

<p>Estimado participante:</p>

<p>Al aceptar esta actividad, usted y quien se encuentra dirigiendo esta actividad se comprometen a
    cumplir las siguientes condiciones pactadas en este acuerdo de trabajo:
</p>

<ol>
    <li>Usted deberá realizar una actividad que consistirá en la lectura y supervisión de textos a
        través de esta plataforma.
    </li>
    <br>
    <li>Esta actividad la deberá realizar en un periodo de 20 minutos, durante la totalidad de las
        jornadas. La actividad la deberá realizar con un día de por medio de descanso y podrá ser
        realizada en cualquier momento del día entre las 8:00 a.m. y las 4:00 p.m.
        <br>
        <i>(Ejemplo: En caso de que su último día de trabajo fuera el lunes deberá ingresar el miércoles en el
            horario mencionado para cumplir con la labor asignada).</i>
    </li>
    <br>
    <li>Por esta actividad, usted obtendrá un salario de 7.000 COP por día los cuales se le pagarán
        por transferencia bancaria al finalizar el día.
    </li>
    <br>
    <li>Usted deberá cumplir con las siguientes obligaciones:</li>
    <ol type="a">
        <li>Deberá realizar el mayor número de revisiones posibles.</li>
        <li>Deberá cumplir con la jornada de trabajo dentro de los turnos y horario señalado.</li>
    </ol>
    <br>
    <li>En caso de incumplimiento de alguna de las anteriores condiciones, podremos dar por
        terminado unilateralmente el presente acuerdo.
    </li>
</ol>

{% formfields %}

{% next_button %}

{% endblock %}