{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
REGLAS DE LA ACTIVIDAD
{% endblock %}


{% block content %}

<p>Estimado participante:</p>

<p>Al aceptar esta actividad, usted y quien se encuentra dirigiendo esta actividad se comprometen a
    cumplir las siguientes condiciones pactadas en este acuerdo de trabajo por prestación de servicios,
    por un periodo de tres días:</p>

<ol>
    <li>Usted deberá realizar una actividad que consistirá en la lectura y supervisión de textos a
        través de esta plataforma. </li>
    <br>
    <li>El plazo para realizar esta actividad será de 20 minutos por día. La actividad la deberá
        realizar con un día de por medio de descanso y podrá ser realizada en cualquier momento
        del día entre las 8:00 a.m. y las 4:00 p.m.
        <br>
        <i>(Ejemplo: En caso de que su último día de trabajo fuera el lunes, deberá ingresar el miércoles en el
            horario mencionado para continuar con la labor asignada).</i>
    </li>
    <br>
    <li>Por cada texto revisado y seleccionado recibirá un pago de 1.000 COP <i>(sujeto a la
        verificación de calidad que se esclarece en la siguiente condición).</i> El pago por día será
        calculado por el número de textos transcritos y finalizados una vez hayan pasado los 20
        minutos, y será pagado a través de una transferencia bancaria al finalizar el día.
    </li>
    <br>
    <li>Usted deberá cumplir con las siguientes obligaciones: </li>
    <ol type="a">
        <li>Deberá realizar el mayor número de revisiones posibles.</li>
        <li>Deberá cumplir los tiempos de entrega de las actividades.</li>
        <li>Deberá garantizar la calidad de los productos entregados. Si el número de errores
            informado y el número real de errores difiere por un margen superior a 2 errores, el
            texto revisado no se contará dentro del pago.
        </li>
    </ol>
    <br>
    <li>En caso de incumplimiento de alguna de las anteriores condiciones, podremos dar por
        terminado unilateralmente el presente acuerdo.
    </li>
</ol>

{% formfields %}

{% next_button %}

{% endblock %}