{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
Instrucciones Generales
{% endblock %}


{% block content %}

<p>La actividad constará de cuatro etapas:</p>

<p><b>Etapa 1:</b> Se le compartirán las condiciones de participación.</p>

<p><b>Etapa 2:</b> Se le presentará un formato en el cual usted podrá aceptar o no los términos de la
    actividad. Sin embargo, tenga en cuenta que en caso de no aceptar daremos por terminada la
    actividad y no recibirá ningún pago.</p>

<p><b>Etapa 3:</b> Si continua con nosotros, en la tercera etapa le invitaremos a realizar una serie de tareas
    de las cuales dependerá su pago durante los días que participe de la actividad. Le daremos la
    oportunidad de familiarizarse con las tareas antes de empezar.</p>

<p><b>Etapa 4:</b> Se le realizará un pequeño cuestionario.</p>

<p>Finalmente, el último día participará de un sorteo para obtener un pago adicional.</p>

<p><b>No se preocupe, al inicio de cada etapa usted irá recibiendo la información necesaria para poder
        completarla sin contratiempos.</b></p>

{% next_button %}

{% endblock %}